/*.button{  #with . вызывается класс-->
    width: 10vw;
}

p{
    color:aqua;
    font-size: 5vw;
    background-color: rgb(229, 68, 68);
    position: relative;
  font-family: myfont;

}
#kitty{

width: 10vw;
opacity: 50%;
border: 2px solid rgb(164, 89, 89);

}

#container{
    display: flex;
    justify-content: right;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/AWOMA.ttf);
}*/

body{
    margin:0;
}
@font-face {
    font-family: zector;
    src: url(./fonts/Zector.otf);
    font-family: poiret1;
    src: url(./fonts/PoiretOne-Regular.ttf);
}
#faceup{
    display: block;
    width: calc(100vw - 2.1875vw);
    top: left;
    left: 0;
    position: relative;
    z-index: 1;
}
#logoKSE{
    margin: 0;
    font-family: zector;
    display: block;
    z-index: 2;
    position: absolute;
    top: 39.54%;
    left: 47.58%;
    font-size: 3.125vw;
}

#logoKSE:hover {
    background-color: blue;
    opacity: 10;
}

#augebild{
    display:inline-block;
    position:relative;
    width:100%;
}

#upcontacts{
    color: white;
    margin: 0;
    padding:0;
    font-family: poiret1;
    font-size: 1.09375vw;
    display: flex;
    z-index: 2;
    position: absolute;
     gap: 18.59vw;
    left: 36.7%;
    top: 69%;

    
    }



#blockme {
  display: grid;
  grid-template-columns: 8.59% 11.99% 1fr 8.59% 21.88%;
  width: 73.6%;
  max-width: 1001px;
  margin-left: 13.9%;
  margin-top: 48px;
  align-items: start;
  background-color: aqua;
}
#svgaboutme {
  grid-column: 1;
  width: 100%;
  height: auto;
  display: block;
}

#gif {
  grid-column: 3;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 30%;
}

#blockme > div {
  grid-column: 5;
  font-size: 1.6vw;
  font-family: poiret1;
  line-height: 1.35;
  margin-top: 180%;
}



p{
    margin:0;
    padding:0;
}

/*#logoKSE {
    margin: 0;
    font-family: zector;
    position: absolute;
    top: 12.08vh;
    left: 47.58vw;
    font-size: 3.125vw;
    z-index: 2;
}

#upcontacts {
    position: absolute;

    /* ТА ЖЕ позиция по X 
    left: 47.58vw;

    /* ниже на 19px 
    top: calc(12.08vh + 19px);

    font-family: poiret1;
    font-size: 1.09375vw;

    display: flex;
    gap: 238px;

    z-index: 2;
}*/

